<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 my-5">
          <h1 class="display-3 text-center my-3">Agenda</h1>
          <% if(contatos.length == 0) {%>
          <p class="text-center lead">Parece que você ainda não tem contatos, crie um clicando <a href="/contatos/">aqui</a></p>

         <% }else{ %>
          <p class="text-center lead">Seus contatos estão aqui</p>

          <%- include('includes/messages')  %> 


          <div class="responsive-table">
            <table class="table my-3">
              <% contatos.forEach(c=>{%>
                <% %>
                <table class="table my-3">
                  <tr>
                    <td><%= c.nome %> </td>
                    <td><%= c.sobrenome %> </td>
                    <td><%= c.email %> </td>
                    <td><%= c.telefone %> </td>
                    <td><a class="text-blue" href="/contatos/<%= c._id %>">Editar</a></td>
                    <td><a class="text-danger" href="/contatos/<%= c._id %>/delete">Excluir</a></td>
                  </tr>
                </table>
              <% }) %> 
            </table>

         <% } %> 
      
          </div>
        </div>
      </div>
    </div>

    <%- include('includes/footer') %>